<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matpam.order.OrderMapper">

    <resultMap id="orderResultMap" type="kr.co.matpam.admin.order.service.OrderVO">
        <id property="orderId" column="order_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="orderDate" column="order_dt"/>
        <result property="memberId" column="member_id"/>
        <result property="memberName" column="company_name"/>
        <result property="goodsTotalAmt" column="goods_total_amt"/>
        <result property="deliveryTotalAmt" column="delivery_total_amt"/>
        <result property="discountTotalAmt" column="discount_total_amt"/>
        <result property="vatTotalAmt" column="vat_total_amt"/>
        <result property="payTotalAmt" column="pay_total_amt"/>
        <result property="orderStatus" column="order_status_cd"/>
        <result property="orderStatusName" column="order_status_name"/>
        <result property="useYn" column="use_yn"/>
        <result property="opType" column="op_type"/>
    </resultMap>

    <select id="selectOrderList" parameterType="kr.co.matpam.admin.order.service.OrderSearchVO" resultMap="orderResultMap">
        SELECT 
            o.order_id,
            o.order_no,
            o.order_dt,
            o.member_id,
            m.company_name,
            o.goods_total_amt,
            o.delivery_total_amt,
            o.discount_total_amt,
            o.vat_total_amt,
            o.pay_total_amt,
            o.order_status_cd,
            IFNULL(dc.detail_code_nm, o.order_status_cd) AS order_status_name,
            o.use_yn,
            o.op_type
        FROM tb_order o
        LEFT JOIN tb_member m ON o.member_id = m.member_id
        LEFT JOIN tb_detail_code dc ON o.order_status_cd = dc.detail_code_id AND dc.code_group_id = 'ORDER_STATUS'
        WHERE o.del_yn = 'N'
          <if test="opType != null and opType != '' and opType != 'NATIONAL'">
              AND o.op_type = #{opType}
          </if>
          <include refid="orderWhere"/>
        ORDER BY o.order_id DESC
        <include refid="kr.co.matpam.common.mapper.MatpamCommonMapper.pagingFooter"/>
    </select>

    <select id="selectOrderListTotCnt" parameterType="kr.co.matpam.admin.order.service.OrderSearchVO" resultType="int">
        SELECT COUNT(1) FROM tb_order o
        WHERE o.del_yn = 'N'
          <if test="opType != null and opType != '' and opType != 'NATIONAL'">
              AND o.op_type = #{opType}
          </if>
          <include refid="orderWhere"/>
    </select>

    <sql id="orderWhere">
        <if test="searchKeyword != null and searchKeyword != ''">
            <if test="searchCondition == 'orderNo'">
                AND o.order_no LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
        </if>
        <if test="orderStatusCd != null and orderStatusCd != ''">
            AND o.order_status_cd = #{orderStatusCd}
        </if>
    </sql>

    <!-- KPI 요약 정보 -->
    <select id="selectOrderSummary" parameterType="kr.co.matpam.admin.order.service.OrderSearchVO" resultType="kr.co.matpam.admin.order.service.OrderSummaryVO">
        SELECT 
            COUNT(1) AS totalOrderCount,
            IFNULL(SUM(o.goods_total_amt), 0) AS sumGoodsTotalAmt,
            IFNULL(SUM(o.delivery_total_amt), 0) AS sumDeliveryTotalAmt,
            IFNULL(SUM(o.discount_total_amt), 0) AS sumDiscountTotalAmt,
            IFNULL(SUM(o.vat_total_amt), 0) AS sumVatTotalAmt,
            IFNULL(SUM(o.pay_total_amt), 0) AS sumPayTotalAmt
        FROM tb_order o
        WHERE o.use_yn = 'Y'
          AND o.del_yn = 'N'
          <if test="opType != null and opType != '' and opType != 'NATIONAL'">
              AND o.op_type = #{opType}
          </if>
          <include refid="orderWhere"/>
    </select>

</mapper>
