<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matpam.member.MemberMapper">

    <resultMap id="memberResultMap" type="kr.co.matpam.admin.member.service.MemberVO">
        <result property="memberType" column="MEMBER_TYPE" />
        <result property="region" column="REGION" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="companyName" column="COMPANY_NAME" />
        <result property="businessNumber" column="BUSINESS_NUMBER" />
        <result property="ceoName" column="CEO_NAME" />
        <result property="contactNumber" column="CONTACT_NUMBER" />
        <result property="managerName" column="MANAGER_NAME" />
        <result property="managerContact" column="MANAGER_CONTACT" />
        <result property="creditLimit" column="CREDIT_LIMIT" />
        <result property="meatMoney" column="MEAT_MONEY" />
        <result property="memberGrade" column="MEMBER_GRADE" />
        <result property="status" column="STATUS" />
        <result property="joinDate" column="JOIN_DATE" jdbcType="DATE" />
    </resultMap>

    <sql id="memberWhere">
        <where>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
            <if test="region != null and region != ''">
                AND REGION = #{region}
            </if>
            <if test="memberGrade != null and memberGrade != ''">
                AND MEMBER_GRADE = #{memberGrade}
            </if>
            <if test="joinDateFrom != null and joinDateFrom != ''">
                AND JOIN_DATE <![CDATA[>=]]> #{joinDateFrom}
            </if>
            <if test="joinDateTo != null and joinDateTo != ''">
                AND JOIN_DATE <![CDATA[<=]]> #{joinDateTo}
            </if>
            <if test="searchKeyword != null and searchKeyword != '' and searchCondition != null and searchCondition != ''">
                <choose>
                    <when test="searchCondition == 'memberId'">
                        AND MEMBER_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchCondition == 'companyName'">
                        AND COMPANY_NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <otherwise>
                        AND (MEMBER_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                             OR COMPANY_NAME LIKE CONCAT('%', #{searchKeyword}, '%'))
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>

    <select id="selectMemberList" resultMap="memberResultMap" parameterType="kr.co.matpam.admin.member.service.MemberDefaultVO">
        SELECT m.MEMBER_TYPE,
               mt.DETAIL_CODE_NAME as MEMBER_TYPE_NAME,
               m.REGION,
               m.MEMBER_ID,
               m.COMPANY_NAME,
               m.BUSINESS_NUMBER,
               m.CEO_NAME,
               m.CONTACT_NUMBER,
               m.MANAGER_NAME,
               m.MANAGER_CONTACT,
               m.CREDIT_LIMIT,
               m.MEAT_MONEY,
               m.MEMBER_GRADE,
               mg.DETAIL_CODE_NAME as MEMBER_GRADE_NAME,
               m.STATUS,
               st.DETAIL_CODE_NAME as STATUS_NAME,
               m.JOIN_DATE
          FROM TB_MEMBER m
          LEFT JOIN TB_DETAIL_CODE mt ON m.MEMBER_TYPE = mt.DETAIL_CODE 
                AND mt.GROUP_CODE = '003' AND mt.CODE = '003001'
          LEFT JOIN TB_DETAIL_CODE mg ON m.MEMBER_GRADE = mg.DETAIL_CODE 
                AND mg.GROUP_CODE = '005' AND mg.CODE = '005001'
          LEFT JOIN TB_DETAIL_CODE st ON m.STATUS = st.DETAIL_CODE 
                AND st.GROUP_CODE = '004' AND st.CODE = '004001'
        <include refid="memberWhere" />
         ORDER BY m.JOIN_DATE DESC
         LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
    </select>

    <select id="selectMemberListTotCnt" resultType="int" parameterType="kr.co.matpam.admin.member.service.MemberDefaultVO">
        SELECT COUNT(1)
          FROM TB_MEMBER
        <include refid="memberWhere" />
    </select>
    
    <insert id="insertMember" parameterType="kr.co.matpam.admin.member.service.MemberVO">
        INSERT INTO TB_MEMBER (
            MEMBER_TYPE,
            REGION,
            MEMBER_ID,
            LOGIN_PW,
            COMPANY_NAME,
            BUSINESS_NUMBER,
            CEO_NAME,
            CONTACT_NUMBER,
            EMAIL,

            COMPANY_PHONE,
            POSTCODE,
            ADDRESS,
            ADDRESS_DETAIL,
            MANAGER_NAME,
            MANAGER_CONTACT,
            MANAGER_MOBILE,
            MANAGER_EMAIL,
            CREDIT_LIMIT,
            MEAT_MONEY,
            MEMBER_GRADE,
            STATUS,
            AGREE_MARKETING,
            AGREE_SMS,
            JOIN_DATE
        ) VALUES (
            #{memberType},
            #{region},
            #{memberId},
            #{loginPw},
            #{companyName},
            #{businessNumber},
            #{ceoName},
            #{contactNumber},
            #{email},

            #{companyPhone},
            #{postcode},
            #{address},
            #{addressDetail},
            #{managerName},
            #{managerContact},
            #{managerMobile},
            #{managerEmail},
            #{creditLimit, jdbcType=DECIMAL},
            #{meatMoney, jdbcType=DECIMAL},
            #{memberGrade},
            #{status},
            #{agreeMarketing},
            #{agreeSms},
            #{joinDate}
        )
    </insert>

</mapper>
