<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.matpam.admin.settlement.service.impl.SettlementMapper">

    <insert id="insertSettlement" parameterType="kr.co.matpam.admin.settlement.service.SettlementVO" useGeneratedKeys="true" keyProperty="settlementId">
        INSERT INTO tb_settlement (tenant_id, seller_company_id, buyer_company_id, period_from, period_to, sales_amount, vat_amount, settlement_status)
        VALUES (#{tenantId}, #{sellerCompanyId}, #{buyerCompanyId}, #{periodFrom}, #{periodTo}, #{salesAmount}, #{vatAmount}, #{settlementStatus})
    </insert>

    <insert id="insertSettlementLine" parameterType="kr.co.matpam.admin.settlement.service.SettlementLineVO">
        INSERT INTO tb_settlement_line (settlement_id, order_id, amount)
        VALUES (#{settlementId}, #{orderId}, #{amount})
    </insert>

    <update id="updateSettlementStatus" parameterType="kr.co.matpam.admin.settlement.service.SettlementVO">
        UPDATE tb_settlement
        SET settlement_status = #{settlementStatus}
        WHERE settlement_id = #{settlementId}
    </update>

</mapper>
