<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.matpam.admin.product.service.impl.ProductMapper">

    <resultMap id="productResultMap" type="kr.co.matpam.admin.product.service.ProductVO">
        <id property="productNo" column="SALES_PROD_ID"/>
        <result property="productName" column="SALES_PROD_NAME"/>
        <result property="salePrice" column="LIST_PRICE"/>
        <result property="costPrice" column="COST_PRICE"/>
        <result property="vatRate" column="VAT_RATE"/>
        <result property="saleStartDate" column="SALE_START_DT"/>
        <result property="saleEndDate" column="SALE_END_DT"/>
        <result property="displayYn" column="EXPOSURE_STATUS_CD"/>
        <result property="sellerId" column="SELLER_MEMBER_ID"/>
        <result property="sellerName" column="SELLER_NAME"/>
        <result property="productSummary" column="SUMMARY"/>
        <result property="mdComment" column="MD_COMMENT"/>
        <result property="regDt" column="REG_DT"/>
        <result property="modDt" column="MOD_DT"/>
        <!-- 구성상품 목록 -->
        <collection property="compositionList" ofType="kr.co.matpam.admin.product.service.ProductCompositionVO">
            <id property="compositionId" column="COMPOSITION_ID"/>
            <result property="productNo" column="PRODUCT_NO"/>
            <result property="bundleId" column="BUNDLE_ID"/>
            <result property="compQty" column="COMP_QTY"/>
            <result property="sortOrder" column="SORT_ORDER"/>
        </collection>
    </resultMap>
    
    <resultMap id="productWithCompositionDetailMap" type="kr.co.matpam.admin.product.service.ProductVO" extends="productResultMap">
        <result property="vatAmount" column="VAT_AMOUNT"/>
        <collection property="compositionList" ofType="kr.co.matpam.admin.product.service.ProductCompositionVO">
            <id property="compositionId" column="COMPOSITION_ID"/>
            <result property="productNo" column="PRODUCT_NO"/>
            <result property="bundleId" column="BUNDLE_ID"/>
            <result property="compQty" column="COMP_QTY"/>
            <result property="productName" column="BUNDLE_PRODUCT_NAME"/>
            <result property="saleType" column="BUNDLE_SALE_TYPE"/>
            <result property="saleTypeName" column="BUNDLE_SALE_TYPE_NAME"/>
            <result property="saleStatusName" column="BUNDLE_SALE_STATUS_NAME"/>
            <result property="storageTypeName" column="BUNDLE_STORAGE_TYPE_NAME"/>
            <result property="processTypeName" column="BUNDLE_PROCESS_TYPE_NAME"/>
            <result property="divisionTypeName" column="BUNDLE_DIVISION_TYPE_NAME"/>
            <result property="salePrice" column="BUNDLE_SALE_PRICE"/>
            <result property="costPrice" column="BUNDLE_COST_PRICE"/>
            <result property="vatAmount" column="BUNDLE_VAT_AMOUNT"/>
            <result property="saleStartDate" column="BUNDLE_SALE_START_DATE"/>
            <result property="saleEndDate" column="BUNDLE_SALE_END_DATE"/>
            <result property="displayYn" column="BUNDLE_DISPLAY_YN"/>
            <result property="sellerId" column="BUNDLE_SELLER_ID"/>
            <result property="sellerName" column="BUNDLE_SELLER_NAME"/>
            <result property="regDt" column="BUNDLE_REG_DT"/>
            <result property="modDt" column="BUNDLE_MOD_DT"/>
            <result property="sortOrder" column="SORT_ORDER"/>
        </collection>
        <collection property="imageList" ofType="kr.co.matpam.admin.product.service.ProductImageVO">
            <id property="imageId" column="IMAGE_ID"/>
            <result property="productNo" column="IMAGE_PRODUCT_NO"/>
            <result property="imageType" column="IMAGE_TYPE"/>
            <result property="imagePath" column="IMAGE_PATH"/>
            <result property="originalName" column="ORIGINAL_NAME"/>
            <result property="sortOrder" column="IMAGE_SORT_ORDER"/>
        </collection>
    </resultMap>

    <sql id="selectProductListWhere">
        <where>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND PROD_NAME LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            <if test="displayYn != null and displayYn != ''">
                AND DISP_YN = #{displayYn}
            </if>
            AND A.DEL_YN = 'N'
        </where>
    </sql>

    <!-- 상품 목록 조회 -->
    <select id="selectProductList" parameterType="kr.co.matpam.admin.product.service.ProductVO" resultMap="productResultMap">
        SELECT
            SP.SALES_PROD_ID AS PRODUCT_NO,
            SP.PROD_NAME AS PRODUCT_NAME,
            SP.SALE_PRICE,
            SP.LIST_PRICE AS COST_PRICE,
            SP.VAT_RATE AS VAT_AMOUNT,
            SP.SALE_START_DT AS SALE_START_DATE,
            SP.SALE_END_DT AS SALE_END_DATE,
            SP.DISP_YN AS DISPLAY_YN,
            NULL AS SELLER_ID,
            NULL AS PRODUCT_SUMMARY,
            NULL AS MD_COMMENT,
            NULL AS DESCRIPTION,
            NULL AS PAYMENT_INFO,
            NULL AS SHIPPING_INFO,
            NULL AS EXCHANGE_RETURN_INFO,
            NULL AS REFUND_INFO,
            SP.REG_DT,
            SP.MOD_DT
        FROM TB_SALES_PRODUCT SP
        <include refid="selectProductListWhere"/>
        ORDER BY SP.SALES_PROD_ID DESC
        LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
    </select>

    <!-- 상품 목록 총 개수 -->
    <select id="selectProductListTotCnt" parameterType="kr.co.matpam.admin.product.service.ProductVO" resultType="int">
        SELECT COUNT(*)
        FROM TB_SALES_PRODUCT SP
        <include refid="selectProductListWhere"/>
    </select>

    <!-- 단일 상품 조회 (상세+구성+이미지) -->
    <select id="selectProduct" parameterType="long" resultMap="productWithCompositionDetailMap">
        SELECT
            P.SALES_PROD_ID AS PRODUCT_NO,
            P.PROD_NAME AS PRODUCT_NAME,
            P.SALE_PRICE,
            P.LIST_PRICE AS COST_PRICE,
            P.VAT_RATE AS VAT_AMOUNT,
            P.SALE_START_DT AS SALE_START_DATE,
            P.SALE_END_DT AS SALE_END_DATE,
            P.DISP_YN AS DISPLAY_YN,
            NULL AS SELLER_ID,
            NULL AS SELLER_NAME,
            NULL AS PRODUCT_SUMMARY,
            NULL AS MD_COMMENT,
            NULL AS DESCRIPTION,
            NULL AS PAYMENT_INFO,
            NULL AS SHIPPING_INFO,
            NULL AS EXCHANGE_RETURN_INFO,
            NULL AS REFUND_INFO,
            P.REG_DT,
            P.MOD_DT,
            -- 구성상품 정보
            SPC.COMPONENT_PROD_ID AS COMPOSITION_ID,
            SPC.SALES_PROD_ID AS PRODUCT_NO,
            SPC.COMPONENT_PROD_ID AS BUNDLE_ID,
            SPC.COMP_QTY AS COMP_QTY,
            NULL AS SORT_ORDER,
            CP.PROD_NAME AS BUNDLE_PRODUCT_NAME,
            CP.SALE_TYPE_CD AS BUNDLE_SALE_TYPE,
            ST.CODE_NAME AS BUNDLE_SALE_TYPE_NAME,
            CP.SALE_STATUS_CD AS BUNDLE_SALE_STATUS,
            SS.CODE_NAME AS BUNDLE_SALE_STATUS_NAME,
            CP.STORAGE_TYPE_CD AS BUNDLE_STORAGE_TYPE,
            STC.DETAIL_CODE_NAME AS BUNDLE_STORAGE_TYPE_NAME,
            CP.PROCESS_TYPE_CD AS BUNDLE_PROCESS_TYPE,
            PTC.DETAIL_CODE_NAME AS BUNDLE_PROCESS_TYPE_NAME,
            CP.SALE_DIV_CD AS BUNDLE_DIVISION_TYPE,
            DVC.DETAIL_CODE_NAME AS BUNDLE_DIVISION_TYPE_NAME,
            CP.SALE_PRICE AS BUNDLE_SALE_PRICE,
            CP.LIST_PRICE AS BUNDLE_COST_PRICE,
            CP.VAT_RATE AS BUNDLE_VAT_AMOUNT,
            CP.SALE_START_DT AS BUNDLE_SALE_START_DATE,
            CP.SALE_END_DT AS BUNDLE_SALE_END_DATE,
            CP.C_USE_YN AS BUNDLE_DISPLAY_YN,
            NULL AS BUNDLE_SELLER_ID,
            NULL AS BUNDLE_SELLER_NAME,
            CP.REG_DT AS BUNDLE_REG_DT,
            CP.MOD_DT AS BUNDLE_MOD_DT,
            -- 이미지 정보
            PI.IMG_ID AS IMAGE_ID,
            PI.SALES_PROD_ID AS IMAGE_PRODUCT_NO,
            PI.FILE_TYPE_CD AS IMAGE_TYPE,
            PI.IMG_URL AS IMAGE_PATH,
            PI.FILE_NAME AS ORIGINAL_NAME,
            PI.SORT_ORD AS IMAGE_SORT_ORDER
        FROM TB_SALES_PRODUCT P
        LEFT JOIN TB_SALES_PRODUCT_COMP SPC ON P.SALES_PROD_ID = SPC.SALES_PROD_ID
        LEFT JOIN TB_COMPONENT_PROD CP ON SPC.COMPONENT_PROD_ID = CP.COMPONENT_PROD_ID
        LEFT JOIN TB_CODE ST ON CP.SALE_TYPE_CD = ST.CODE AND ST.GROUP_CODE = 'SALE_TYPE'
        LEFT JOIN TB_CODE SS ON CP.SALE_STATUS_CD = SS.CODE AND SS.GROUP_CODE = 'SALE_STATUS'
        LEFT JOIN TB_DETAIL_CODE STC ON CP.STORAGE_TYPE_CD = STC.DETAIL_CODE AND STC.GROUP_CODE = '001' AND STC.CODE = '001001'
        LEFT JOIN TB_DETAIL_CODE PTC ON CP.PROCESS_TYPE_CD = PTC.DETAIL_CODE AND PTC.GROUP_CODE = '001' AND PTC.CODE = '001003'
        LEFT JOIN TB_DETAIL_CODE DVC ON CP.SALE_DIV_CD = DVC.DETAIL_CODE AND DVC.GROUP_CODE = '007' AND DVC.CODE = '007002'
        LEFT JOIN TB_SALES_PRODUCT_IMAGE PI ON P.SALES_PROD_ID = PI.SALES_PROD_ID
        WHERE P.SALES_PROD_ID = #{value}
        ORDER BY SPC.COMPONENT_PROD_ID
    </select>

    <!-- 상품 마스터 등록 -->
    <insert id="insertProduct" parameterType="kr.co.matpam.admin.product.service.ProductVO" useGeneratedKeys="true" keyProperty="productNo">
        INSERT INTO TB_SALES_PRODUCT (
            PROD_NAME,
            SALE_PRICE,
            LIST_PRICE,
            VAT_RATE,
            SALE_START_DT,
            SALE_END_DT,
            DISP_YN,
            REG_ID,
            REG_DT,
            MOD_ID,
            MOD_DT
        ) VALUES (
            CONCAT('SP', DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), FLOOR(RAND()*1000)), -- 임시 코드 생성
            #{productName},
            #{salePrice},
            #{costPrice},
            #{vatRate},
            #{saleStartDate},
            #{saleEndDate},
            #{displayYn},
            #{regId},
            NOW(),
            #{modId},
            NOW()
        )
    </insert>

    <!-- 상품 마스터 수정 -->
    <update id="updateProduct" parameterType="kr.co.matpam.admin.product.service.ProductVO">
        UPDATE TB_SALES_PRODUCT
        SET
            PROD_NAME       = #{productName},
            SALE_PRICE      = #{salePrice},
            LIST_PRICE      = #{costPrice},
            VAT_RATE        = #{vatAmount},
            SALE_START_DT   = #{saleStartDate},
            SALE_END_DT     = #{saleEndDate},
            DISP_YN         = #{displayYn},
            MOD_ID          = #{modId},
            MOD_DT          = NOW()
        WHERE SALES_PROD_ID = #{productNo}
    </update>

    <!-- 구성상품 저장 -->
    <insert id="insertProductComposition" parameterType="kr.co.matpam.admin.product.service.ProductCompositionVO">
        INSERT INTO TB_SALES_PRODUCT_COMP (
            SALES_PROD_ID,
            COMPONENT_PROD_ID,
            COMP_QTY,
            REG_ID,
            REG_DT,
            MOD_ID,
            MOD_DT
        ) VALUES (
            #{productNo},
            #{bundleId},
            #{compQty},
            #{regId},
            NOW(),
            #{modId},
            NOW()
        )
    </insert>

    <!-- 구성상품 삭제 -->
    <delete id="deleteProductCompositionsByProductNo" parameterType="long">
        DELETE FROM TB_SALES_PRODUCT_COMP
        WHERE SALES_PROD_ID = #{value}
    </delete>

    <!-- 상품 이미지 등록 -->
    <insert id="insertProductImage" parameterType="kr.co.matpam.admin.product.service.ProductImageVO">
        INSERT INTO TB_SALES_PRODUCT_IMAGE (
            SALES_PROD_ID,
            IMG_URL,
            SORT_ORDER,
            IS_MAIN_YN,
            USE_YN,
            REG_ID,
            REG_DT,
            MOD_DT
        ) VALUES (
            #{salesProdId},
            #{imgUrl},
            #{sortOrder},
            #{isMainYn},
            'Y',
            #{regId},
            NOW(),
            NOW()
        )
    </insert>

    <!-- 상품 이미지 목록 조회 -->
    <select id="selectProductImageList" parameterType="long" resultType="kr.co.matpam.admin.product.service.ProductImageVO">
        SELECT
            IMG_ID as imgId,
            SALES_PROD_ID as salesProdId,
            IMG_URL as imgUrl,
            SORT_ORDER as sortOrder,
            IS_MAIN_YN as isMainYn
        FROM TB_SALES_PRODUCT_IMAGE
        WHERE SALES_PROD_ID = #{value}
        ORDER BY SORT_ORDER ASC
    </select>


</mapper>
