<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.matpam.admin.logistics.service.impl.ShipmentMapper">

    <insert id="insertShipment" parameterType="kr.co.matpam.admin.logistics.service.ShipmentVO" useGeneratedKeys="true" keyProperty="shipmentId">
        INSERT INTO tb_shipment (order_id, shipment_no, tracking_no, courier_name, shipment_status, shipped_at)
        VALUES (#{orderId}, #{shipmentNo}, #{trackingNo}, #{courierName}, #{shipmentStatus}, #{shippedAt})
    </insert>

    <insert id="insertShipmentLine" parameterType="kr.co.matpam.admin.logistics.service.ShipmentLineVO">
        INSERT INTO tb_shipment_line (shipment_id, order_line_id, shipped_qty)
        VALUES (#{shipmentId}, #{orderLineId}, #{shippedQty})
    </insert>

    <update id="updateShipmentStatus" parameterType="kr.co.matpam.admin.logistics.service.ShipmentVO">
        UPDATE tb_shipment
        SET shipment_status = #{shipmentStatus},
            delivered_at = #{deliveredAt}
        WHERE shipment_id = #{shipmentId}
    </update>

</mapper>
